<html> 
  <head> 
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     <link href="../assets/shop/shop.css" rel="stylesheet">
     <link rel="import" href="file://home/devladey/Programming/goUniversityProject/src/templates/main.html">
     <script> 
            $(function(){
              $("#includedContent").load("http://localhost:8080/home"); 
            });
            </script> 

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  </head> 

  <body> 

        <div id="includedContent"></div>


</body>
</html>