<html> 
  <head> 
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     <link href="../assets/shop/shop.css" rel="stylesheet">
     <link href="../assets/adminDashboard/admin.css" rel="stylesheet">

     <script> 
            $(function(){
              $("#includedContent").load("http://localhost:8080/home"); 
            });
            </script> 

  </head> 

  <body> 

        <div id="includedContent"></div>

     <div id="sidebar_content">
            <div id="sidebar">
                <ul>
                    <li class="active"><a href="http://localhost:8080/products">All products</a></li>
                    <li><a href="http://localhost:8080/category/clothes">Clothes</a></li>
                    <li><a href="http://localhost:8080/category/techs">Technologies</a></li>
                    <li class="last"><a href="http://localhost:8080/orders">Orders</a></li>
                </ul>
    
                <div id="sidebar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                </div>
            </div>
        </div>



        <div id="wrapper">
            <h1>Our Products</h1>
            
            <table id="keywords" cellspacing="0" cellpadding="0">
              <thead>
                <tr>
                  <th><span>Name</span></th>
                  <th><span><bold>Price</bold></span></th>
                  <th><span>Description</span></th>
                  <th><span></span></th>
                </tr>
              </thead>
              <tbody>
                   {{ range $key, $value := . }}

                <tr>
                  <td class="lalign">{{$value.Name}}</td>
                  <td class="lalign">{{$value.Price}}</td>
                  <td class="lalign">{{$value.Description}}</td>
                  <td class="lalign"><a href="http://localhost:8080/products/buy/{{$value.ID}}">Buy product!</a></td>
                </tr>

                    {{end}}
              </tbody>
            </table>
           </div> 
          

        
        <script>
            $(document).ready(function() {
                $('#sidebar-btn').click(function() {
                    $('#sidebar').toggleClass('visible');
                });
            });
        </script>
    
    
    <html> 
    
  </body> 
</html>